@page
@model AzureServerlessDemo.Web.Pages.Triggers.LogsPageModel

@{
    ViewData["Title"] = "Logs about usage from Azure Tables";
}

@section breadcrumbs
{
    <li>
        <a asp-page="/Triggers/Workflow">Triggers</a>
    </li>
    <li class="active">Logs from Azure tables</li>
}

<h1>Logs from Azure Tables</h1>

<div id="alertDiv"></div>

@if (Model.Logs.Any())
{
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Method</th>
            <th>Date</th>
        </tr>
        @foreach (var currentLog in Model.Logs)
        {
            <tr>
                <td>@currentLog.RowKey</td>
                <td>@currentLog.Text</td>
                <td>@currentLog.CalledFromMethod</td>
                <td>@currentLog.LoggedDate</td>
            </tr>
        }
    </table>
}
else
{
    <p class="text-info"> No data is present, check Azure Table storage connection!</p>
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script type="application/javascript">
        document.addEventListener('DOMContentLoaded', function () {
             const connectionAlerts = new signalR.HubConnectionBuilder()
                         .withUrl('/alerts')
                         .configureLogging(signalR.LogLevel.Information)
                         .withAutomaticReconnect()
                         .build();
             bindConnectionMessage(connectionAlerts);
             connectionAlerts.start()
                            .then(() => console.log('connected to alert messages!'))
                            .catch(console.error);
             function bindConnectionMessage(connection) {
                 let messageCallback = function (message) {
                     $("#alertDiv").empty();
                     if (!message) return;
                     $("#alertDiv").append(message);
                     $("#alertDiv").append("<br />");                     
                 };
                 connection.on('alertMessage', messageCallback);
             }
         });
    </script>
}
