@page
@model IndexPageModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Let's try out Azure Serverless</h1>
    <p>
        <a href="https://azure.microsoft.com/en-us/solutions/serverless/">Azure Serverless</a> enables you to increase your developer velocity.
        Reduce the time spent on tasks that are non-core to the business by freeing developers from infrastructure provisioning and management. Build and deploy faster using developer-friendly APIs, low-code/no-code services, and ready-to-use machine learning and cognitive models.
        <br />
        <br />
        Improve team agility and performance by using a fully managed platform to build, deploy, and operate applications. Build for any application pattern and environment—hybrid, cloud, and edge. Proactively manage applications with intelligent monitoring and analysis tools.
        <br />
        <br />        
        Accelerate time to market with Azure serverless solutions that help your organization clear the path to innovation and new revenue opportunities. Reduce your infrastructure total cost of ownership and minimize risk with intelligent security management and advanced threat protection.
    </p>
    <h4>List of demos</h4>
    <ul>
        <li><a asp-page="/Triggers/Workflow">Trigger flow and examples</a></li>
        <li>Durable Actions</li>
        <li>Monitor demo</li>
        <li>Running solution on Kubernetes On-Prem</li>
    </ul>
    <p>
        Check also <a href="https://github.com/Azure-Samples">Azure samples</a> browser to explore more examples, how to leverage Azure Functions and other services all together.
    </p>
</div>
